
/* .roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


.raleway-<uniquifier> {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
*/

body {font-family: "Roboto", sans-serif;
     color: #434455;
     background-color: #FFFFFF;
}
* {
  box-sizing: border-box;
}

/* Обнулення стандартних відступів */
h1, h2, h3, h4, h5, h6, p {
  margin: 0; /* видаляє зовнішні відступи */
}

/* Робимо зображення блочними елементами */
img {
  display: block; /* блочний елемент */
  max-width: 100%; /* щоб не виходили за межі контейнера */
  height: auto; /* зберігає пропорції */
}

/* Скидаємо стандартні маркери у списках */
ul {
  margin: 0;  /* прибирає зовнішні відступи */
  padding-left: 0; /* прибирає внутрішній відступ зліва */
  list-style: none;
}

/* Скидаємо підкреслення у посилань */
a {
    text-decoration: none;
  }

   /* 04.11 */
.container { 
  max-width: 1158px;
  margin: 0 auto;
  padding: 0 15px;

}
/* #region header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: baseline;
  width: 1158px;
}


.page-header {
  display: flex;
  justify-content: space-between;
/* padding-top: 24px;
  padding-bottom: 24px;*/
  align-items: center;
  box-shadow:  2px 1px rgba(46, 47, 66, 0.08), 0px 1px 1px rgba(46, 47, 66, 0.16), 0px 1px 6px rgba(46, 47, 66, 0.08);
}

.menu {
  display: flex;
  gap: 76px;
  align-items: center;
  padding: 0 15px;
 
}

.first-link {
  display: flex;
  gap: 40px;
}

.first-link_adress {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  
  .link {
    display: block;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
    padding-top: 24px;
    padding-bottom: 24px;

    position: relative;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

    .link.active{
      color: #404bbf;
      transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
    }
 

   .link.active::after {
      content: "";
      position: absolute;
      left: 0;
      bottom: -1px;
      width: 100%;
      height: 4px;
      margin-bottom: 20px;
      border-radius: 2px;
      display: block;
      background-color: #404bbf;
    }

  .link:hover, .link:focus {
    color: #404bbf;
  }

  .adress{
    font-style: normal;
  }

  .link_adress{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
    transition: color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

  .link_adress:hover, .link_adress:focus {
    color: #404bbf;
  }
/* #endregion header */

/* #region hero */

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

  /* #region section1 */
.section_first {
  color: #FFFFFF;
  background-color: #2E2F42;
  padding-top: 188px;
  padding-bottom: 188px;
  margin: 0 auto;

  /*10.11*/
  background-image: 
    linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)),
    url("../images/people-office1.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;

  max-width: 1440px;

}

.text-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  max-width: 496px;
  letter-spacing: 0.02em;
  margin: 0 auto;
  
}


.button {
  color: #FFFFFF;
  background-color: #4D5AE5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  height: 56px;
  min-width: 169px;
  display: block;
  margin: 48px auto 0;
  border: none;
  cursor: pointer;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.button:hover, button:active, button:focus {
  color: #FFFFFF;
  background-color: #404BBF;
  /*cursor: pointer;*/
}

/* #endregion section1 */

  /* #region section2 */
.section_second {
  background-color: #FCFCFC;
  border: 1px solid;
  border-color:#F4F4FD;
}

.section_second .list-item {
  width: calc((100% - 72px) / 4);
}

.section_s_h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section_s_p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}

.icon-wrapper{
    background-color: #F4F4FD;
    /* колір підкладки */
    padding: 20px;
    /* відступ навколо іконки */
    border: 1px solid #8E8F99;
    border-radius: 4px;
    /* заокруглені кути */
    display: inline-block;
    /* щоб фон був лише навколо іконки */
    width: 264px;
    height: 112px;
    margin-bottom: 8px;

    display: flex;
    align-items: center;
    justify-content: center;
}

.icon-wrapper .icon {
  width: 64px;
  height: 64px;

}

/* .section_second .icon {
  position: relative;
  left: 35%;
}
*/


/* #endregion section2 */

  /* #region section3 */

.section_third {
  background-color: #F4F4FD;
}

 .text-info {
  display: flex;
  gap: 24px;
 }

 .section_third .list-item-third {
  display: flex;
  gap: 24px;
 }
 
 .section_s_p {
margin-bottom: 8px;
}

.section_third .container .list-item-third .list {
  background-color: #FFFFFF;
  border-radius: 0px 0px 4px 4px;
}

.name {
  padding-top: 32px;
  padding-bottom: 32px;
}

.section_t_h {
  background-color: #F4F4FD;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section_t_autor {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.section_t_p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

.section_third .social-list {
  gap:24px;
  margin-top: 8px;
  margin-left: 16px;
  margin-right: 16px;
}

.section_third .list-item-third .list {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.social-list-icon {
  width: 40px;
  height: 40px;

}

.list-item-third .social-link .icon {
  fill: #f4f4fd;
}
svg {
  width: 16px;
  height: 16px;
}

/*.list-item-third*/ .social-link {
  width: 100%;
  height: 100%;
  background-color:#4d5ae5;
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

/*.list-item-third*/ .social-link:hover, /*.list-item-third*/ .social-link:focus {
  background-color: #404bbf;
}

/* #endregion section3 */

  /* #region section4 */

.section_four .container .list-item_four {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
  
}

.section_four .container .list-item_four .list_four {
  width: calc((100% - 48px) / 3);
  
  position: relative;
  overflow: hidden;
}

.portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section_f_h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section_f_list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section_f_p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.span {
  color: #f4f4fd;
}

.section_four .list-item_four .list_four:hover {
  box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}


/*.section_four .container .list-item_four .list_four:hover .portfolio-overlay{
  transform: translateY(0);
}
*/

.list_four{
  transition: box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}


.list_four_images {
  position: relative;
  overflow: hidden;

}
.p_portfolio-overlay {
  position: absolute;
  background-color: #4d5ae5;
  color: #f4f4fd;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  padding: 40px 32px;
  left: 0;
  top: 0;
  width: 100%;
  height: 100%;
  overflow: auto;
  transform: translateY(100%);
  transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.list_four:hover .p_portfolio-overlay {
  transform: translateY(0);
}

/* #endregion section4 */

/* #endregion hero */

/* #region footer */


.footer {
  color: #FFFFFF;
  background-color: #2E2F42;
}


.footer-container {
  display: flex;
  align-items: baseline;
}

.footer .footer-left {
  display: block;
  padding-top: 100px;
  padding-bottom: 100px;
  margin-right: 120px;
}

.logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer_p {
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
  max-width: 264px;
  width: 100%;
  height: 112px;
}

.footer .footer-right {
  display: block;
  padding-top: 100px;
  padding-bottom: 132px;
}

.social-media_footer {
  margin-bottom: 16px;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.02em;

}

.social-list{
  display: flex;
  gap: 16px;
  justify-content: center;
}

.social-link-footer {
width: 100%;
height: 100%;
background-color:#4d5ae5;
border-radius: 50%;
display: flex;
align-items: center;
justify-content: center;

}
.social-link-footer{
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

/*.menu, .link, .link-adress, .button, .social-link {
  transition: 
      color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      background-color 250ms cubic-bezier(0.4, 0, 0.2, 1),
      box-shadow 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
*/

.social-link-footer:hover,.social-link-footer:focus {
  background-color: #31d0aa;
}
.social-link-footer .icon {
  fill: #f4f4fd;
  }

  /*region popup*/

.footer-form {
  display: flex;
  gap: 24px;
  align-items: center;
}


.footer-form-p {
  font-weight: 500;
  color: #ffffff;
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  margin-bottom: 16px;
}

.footer-form-label {
  gap: 12px;
}

  .footer-form-input {
    display: block;
    border-radius: 4px;
    padding-left: 16px;
    width: 264px;
    height: 40px;
    border: 1px solid #ffffff;
    box-shadow: 0 4px 4px rgba(0, 0, 0, 0.15);
    background-color: transparent;
    font-size: 12px;
    line-height: 2;
    letter-spacing: 0.04em;
    color: #ffffff;
  }

  input::placeholder {
    color: #ffffff;
    /* білий колір */
    opacity: 1;
    /* щоб у деяких браузерах не було напівпрозорим */
  }

.footer-form-button {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10px;

    border-radius: 4px;
    padding: 8px 64px 8px 24px;
    min-width: 165px;
    height: 40px;
   

    color: #FFFFFF;
    background-color: #4D5AE5;
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    text-align: center;

    border: none;
    border-radius: 4px;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  }

    .footer-form-button:hover,
    button:active,
    .footer-form-button:focus {
      color: #FFFFFF;
      background-color: #404BBF;
      /*cursor: pointer;*/
    }

 
form {
  display: block;
}

.footer-icon {
  margin-left: 16px;
}


 .region-popup {
  position: fixed;
  display: flex;
  justify-content: center;
  align-items: center;
  z-index: 999;
  top: 0;
  left: 0;
  background-color: rgba(46, 47, 66, 0.4);
  height: 100%;
  width: 100%;
  transition: opacity 250ms cubic-bezier(0.4, 0, 0.2, 1), visibility 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .form-field {
    display: block;
    margin-bottom: 8px;
 }

 .form-field-comment{
  margin-bottom: 16px;
 }

 .form-field-checkbox{
  margin-bottom: 24px;
 }

 .field-wrapper {
   position: relative;
    width: 100%;
 }

 .hide-popup {
   opacity: 0;
   user-select: none;
   pointer-events: none;
 }

 .popup-review {
    position: absolute;
    overflow: hidden;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    width: 408px;
    min-height: 584px;
    background: #fcfcfc;
    border-radius: 4px;
    padding: 24px;
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
    box-shadow: 0 1px 1px 0 rgba(0, 0, 0, 0.14), 0 1px 3px 0 rgba(0, 0, 0, 0.12), 0 2px 1px 0 rgba(0, 0, 0, 0.2);
    padding: 72px 24px 24px 24px;
  }

/*#modal window*/
 .form-close {
   position: absolute;
   top: 24px;
   right: 24px;
   padding: 0;
   cursor: pointer;
   background-color: #E7E9FC;
   transition: stroke 250ms ease;
   border-radius: 50%;
   border: 1px solid rgba(0, 0, 0, 0.1);
   width: 24px;
   height: 24px;

  display: flex;
  align-items: center;
  justify-content: center;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .form-close:hover,
 .form-close:focus {
   fill: #ffffff;
   background-color: #404BBF;
   border: none;
   
 }

 .form-close-icon {
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
 }

 .form-close-icon:hover,
 .form-close-icon:focus {
  fill: currentColor;
 }
/*.form-close-icon:hover,
.form-close-icon:focus {
  fill: #E7E9FC;

}*/


.pop-p{
    font-family: var(--font-family);
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    text-align: center;
    color: #2E2F42;
    margin-bottom: 16px;
    margin-top: 24px;
}

.pop-label {
    display: block;
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8E8F99;
    margin-bottom: 4px;
}


.pop-input{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 100%;
    height: 40px;
    padding-left: 38px;
    background-color: transparent;
    outline: transparent;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-input:focus {
  border-color: #4D5AE5;
  outline: none;
}

.form-field-icon {
  position: absolute;
  top: 50%;
  transform: translateY(-50%);
  pointer-events: none;
  /*fill: rgba(46, 47, 66, 0.4);*/
  fill: #2E2F42;
  left: 16px;
  transition: fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-input:focus+.form-field-icon {
  stroke: #4D5AE5;
  fill: #4D5AE5;
}
.pop-comment{
    border: 1px solid rgba(46, 47, 66, 0.4);
    border-radius: 4px;
    width: 360px;
    height: 120px;

    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    padding: 8px 287px 98px 16px;
    color: rgba(46, 47, 66, 0.4);
    background-color: transparent;
    padding: 8px 16px;
    outline: transparent;
    resize: none;
    transition: border-color 250ms cubic-bezier(0.4, 0, 0.2, 1);

}

.pop-comment:focus {
  border-color: #4D5AE5;
  outline: none;
}

.pop-checkbox {
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 12px;
  line-height: 117%;
  letter-spacing: 0.04em;
  color: #8E8F99;
}

.policy-link{
  line-height: 133%;
  text-decoration: underline;
  text-decoration-skip-ink: none;
  color: #4D5AE5;
}

.pop-checkbox-label{
    font-family: var(--font-family);
    font-weight: 400;
    font-size: 12px;
    line-height: 117%;
    letter-spacing: 0.04em;
    color: #8E8F99;
}
.custom-checkbox {
  justify-content: center;
  align-items: center;
  cursor: pointer;
  margin-right: 8px;
  height: 16px;
  width: 16px;
  border-radius: 2px;
  fill: transparent;
  border: 1px solid rgba(46, 47, 66, 0.4);
  display: inline-flex;
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1), border 250ms cubic-bezier(0.4, 0, 0.2, 1), fill 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.pop-checkbox:checked + .pop-checkbox-label > .custom-checkbox {
  background-color: #404BBF;
  /*border: 1px solid #404BBF;*/
  fill: #f4f4fd;
  border: none;
}
 .popup-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.04em;


    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    box-shadow: 0 4px 4px 0 rgba(0, 0, 0, 0.15);
    background: #4D5AE5;
    color: #FFFFFF;
    border: none;
    display: block;
    margin: 24px auto 0;
    cursor: pointer;
    transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
  
 }
 /*#modal window*/

 /*#endregion popup*/
/* #endregion footer */