
/* .roboto-<uniquifier> {
    font-family: "Roboto", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
    font-variation-settings:
      "wdth" 100;
  }


.raleway-<uniquifier> {
    font-family: "Raleway", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;
  }
*/

body {font-family: "Roboto", sans-serif;
     color: #434455;
     background-color: #FFFFFF;
}
* {
  box-sizing: border-box;
}

/* Обнулення стандартних відступів */
h1, h2, h3, h4, h5, h6, p {
  margin: 0; /* видаляє зовнішні відступи */
}

/* Робимо зображення блочними елементами */
img {
  display: block; /* блочний елемент */
  max-width: 100%; /* щоб не виходили за межі контейнера */
  height: auto; /* зберігає пропорції */
}

/* Скидаємо стандартні маркери у списках */
ul {
  margin: 0;  /* прибирає зовнішні відступи */
  padding-left: 0; /* прибирає внутрішній відступ зліва */
  list-style: none;
}

/* Скидаємо підкреслення у посилань */
a {
    text-decoration: none;
  }

   /* 04.11 */
.container { 
  max-width: 1158px;
  width: 100%;
  padding-top: 60px;
  padding-bottom: 60px; 
  margin-left:  auto;
  margin-right:  auto;
  padding: 0 15px;
}
/* #region header */

.page-header {
  border-bottom: 1px solid #e7e9fc;
}

.page-header .container{
  display: flex;
  justify-content: space-between;
  padding-top: 24px;
  padding-bottom: 24px;
  align-items: center;
 
  

}

.menu {
  display: flex;
  gap: 76px;
  align-items: center;
 
}

.first-link {
  display: flex;
  gap: 40px;
}

.link {
  padding-top: 24px;
  padding-bottom: 24px;
}



.first-link_adress {
  display: flex;
  gap: 40px;
  padding-top: 24px;
  padding-bottom: 24px;
}

  .logo {
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4d5ae5;
    margin-right: 76px;
    padding-top: 15px;
    padding-bottom: 15px;
  }
  .link {
    font-weight: 500;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2e2f42;
  }

  .link:hover, .link:focus {
    color: #404bbf;
  }

  .adress{
    font-style: normal;
  }

  .link_adress{
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #434455;
  }

  .link_adress:hover, .link_adress:focus {
    color: #404bbf;
  }
/* #endregion header */

/* #region hero */

section {
  padding-top: 120px;
  padding-bottom: 120px;
}

.visually-hidden {
  position: absolute;
  width: 1px;
  height: 1px;
  margin: -1px;
  border: 0;
  padding: 0;
  white-space: nowrap;
  clip-path: inset(100%);
  clip: rect(0 0 0 0);
  overflow: hidden;
}

/* #region section1 */
.section_first {
  color: #FFFFFF;
  background-color: #2E2F42;
  padding-top: 188px;
  padding-bottom: 188px;
}

.text-header {
  font-size: 56px;
  line-height: 1.07;
  text-align: center;
  max-width: 496px;
  letter-spacing: 0.02em;
  padding-top: 68px;
  margin: 0 auto;
  
}


.button {
  color: #FFFFFF;
  background-color: #4D5AE5;
  font-weight: 500;
  line-height: 1.5;
  letter-spacing: 0.04em;
  border-radius: 4px;
  padding: 16px 32px;
  height: 56px;
  min-width: 169px;
  display: block;
  margin: 48px auto;
  border: none;
  cursor: pointer;
}

.button:hover, button:active, button:focus {
  color: #FFFFFF;
  background-color: #404BBF;
  cursor: pointer;
}

/* #endregion section1 */

/* #region section2 */
.section_second {
  background-color: #FCFCFC;
  border: 1px solid;
  border-color:#F4F4FD;
}

.section_second .list-item {
  width: calc((100% - 72px) / 4);
}

.section_s_h {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section_s_p {
  line-height: 1.5;
  letter-spacing: 0.02em;
}
/* #endregion section2 */

/* #region section3 */

.section_third {
  background-color: #F4F4FD;
}

 .text-info {
  display: flex;
  gap: 24px;
 }

 .section_third .list-item_third {
  width: calc((100% - 72px) / 4);
 }
 
 .section_s_p {
margin-bottom: 8px;
}
/* #endregion section3 */

.section_third .container .list-item_third {
  display: flex;
  gap: 24px;
}



.section_third .container .list-item_third .list {
  background-color: #FFFFFF;
  width: calc((100% - 72px) / 4);
  border-radius: 0px 0px 4px 4px;
}

.name {
  padding-top: 32px;
  padding-bottom: 32px;
}

.section_t_h {
  background-color: #F4F4FD;
  font-weight: 500;
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section_t_autor {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  text-align: center;
  margin-bottom: 8px;
}

.section_t_p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
  text-align: center;
}

/* #endregion section3 */

/* #region section4 */

.section_four .container .list-item_four {
  display: flex;
  gap: 24px;
  flex-wrap: wrap;
  column-gap: 24px;
  row-gap: 48px;
}

.section_four .container .list-item_four .list_four {
  width: calc((100% - 48px) / 3);
}

.portfolio {
  padding: 32px 16px;
  border: 1px solid #e7e9fc;
  border-top: none;
}

.section_f_h {
  font-size: 36px;
  line-height: 1.11;
  text-align: center;
  letter-spacing: 0.02em;
  text-transform: capitalize;
  color: #2e2f42;
  margin-bottom: 72px;
}

.section_f_list {
  font-weight: 500;
  font-size: 20px;
  line-height: 1.2;
  letter-spacing: 0.02em;
  color: #2e2f42;
  margin-bottom: 8px;
}

.section_f_p {
  font-size: 16px;
  line-height: 1.5;
  letter-spacing: 0.02em;
  color: #434455;
}

.span {
  color: #f4f4fd;
}
/* #endregion section4 */
/* #endregion hero */

/* #region footer */

.footer .container {
  display: block;
}

.footer {
  color: #FFFFFF;
  background-color: #2E2F42;
  padding-top: 100px;
  padding-bottom: 100px;
}

.logo {
  display: inline-block;
  margin-bottom: 16px;
}

.footer_p {
  line-height: 1.5;
  color: #F4F4FD;
  letter-spacing: 0.02em;
  max-width: 264px;
  width: 100%;
  height: 112px;
}
/* #endregion footer */
